
#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button,
  .success{
    padding: 12px 12px;
    background-color:hsla(160, 100%, 37%, 1);
    border-radius: 4px;
    border:none;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: monospace;
  }
  
@media (hover: hover) {

}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: start;
  }

  #app {
    display: grid;
  }
}

@media(max-width: 700px){

}


/* FONTS */
h3{
  margin: 1rem 0rem;
  color: white;

}

/* SPACING AND MARGINS*/
.mtb-2{
  margin: 2rem 0rem;
}

.right{
  display: flex;
  flex-direction: row-reverse;
}


button.inline{
  background: none;
  text-transform: capitalize;
  border: 1px solid hsla(160, 100%, 37%, 1);
  cursor:copy;
   color: hsla(160, 100%, 37%, 1);;
  margin-top: 1rem;
}
span.error{
  color: red;
  font-weight: 400;
}


.inline-form{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 2rem;
}