@import "./base.css";

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button,
  .success{
    padding: 12px 12px;
    background-color:hsla(160, 100%, 37%, 1);
    border-radius: 4px;
    border:none;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: monospace;
  }
  
@media (hover: hover) {

}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: start;
  }

  #app {
    display: grid;
  }
}

@media(max-width: 700px){

}
